.wrapper{
    width: 1280px;
    height: 640px;
}
.videoPlayer{
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.mark{
    position: absolute;
    background-color: red;
    width: 10px;
    height: 10px;
    opacity: 0.5;
    z-index: 50;
}
.mark-hover{
    padding: 0 20px 0 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    position: absolute;
    top: -30px;
    left: 30%;
}

.time{
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
}

.controlPanel{
    position: absolute;
    width: 100%;
    bottom: 0
}
.videoProgressBar{
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #888888;
    z-index: 6;
}

.carriage{
    position: absolute;
    top: 0;
height: 10px;
    background-color: #ffffff;
    z-index: 2;
}

.button{
    background-color: transparent;
}

.uploadedProgress{
    position: absolute;
    top: 0;
    z-index: 1;
    height: 10px;
    background-color: #535bf2;
}

.videoProgressBar:hover > .hoveredTime{
    display: block;
}
.hoveredTime{
    position: absolute;
    background: #888888;
    color: #000;
    width: 100px;
    height: 25px;
    top: -25px;
}

.controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0.5);
    width: 300px;
}